
@import './line-scale';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d3cbb3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #615942;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loaders {
  // width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  .loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 50%;
    width: 50%;
    margin: 0 auto;
    height: 10vh;
    align-items: center;
    justify-content: center;
    perspective: 500px;
    
  }
}

.finetune {
  border: none;
  border-radius: 10%;
  padding: 5px 15px;
  height: 10vh;
  width: 40vw;
  font-size: 2vh;
  background-color: #e4e2de;
}
.finetune:focus {
  outline: none;
}

textarea:focus, input:focus button:focus {
  outline: none; 
}

.result-container {
  margin-bottom: 3vh;
}

.finetune-button {
  height: 5vh;
  border-radius: 40%;
  margin-left: 3vw;
  border: none;
  padding: 5px 15px;
}
.finetune-button:hover {
  background-color: #615942;
  color: white;
  outline: none; 
  border: none;
}
.finetune-button:focus {
  outline: none; 
}